@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-font:"Space Grotesk", sans-serif;
}
body {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
h1{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    margin: 30px;
}
pre {
    padding: 10px;
    width: 70%;
    margin: auto;
    background-color: #fff;
    border-left: 3px solid rgb(0, 160, 0);
    overflow: auto;
}

textarea {
    width: 100%;
    height: 400px;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    font-weight: 600;
    background-color: #ffffff;
}
.c_sn{
    width: 45%;
}
code {
    width: 100%;
}

.container-inputs {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
label{
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 600;
}
#submit , #copy{
    font-weight: 600;
    font-family: var(--primary-font);
    background-color: black;
    color: #fff;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#submit:hover , #copy:hover{
    background-color: #000288;
}
.c-header{
    background-color: #000288;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}
@media screen and (max-width:800px) {
    .container-inputs {
        flex-direction: column;
        align-items: center;
    }.c_sn{
    width: 95%;
}
}